<!-- use semantic HTML elements for accessibility -->
<header>
  <app-app-top-bar />
</header>
<article>
  <h2>Basic Angular App {{today | date:'short'}}</h2>
  <!-- data binding syntax double-curly means render a value as plain text-->
  <p>The title is {{title}}</p>
  <p>{{products[0]['name']}} cost {{products[0]['price'] |currency:'GBP'}}</p>
  <!-- iterating over an iterable collection -->
  <ul>
    <!-- every HTML element has attributes -->
    <!-- Angular has a few 'structural directives' -->
    <li *ngFor="let item of products" >{{item.name}} {{item.price |currency:'GBP'}}</li>
  </ul>
  <!-- Big theme - ONE WAY DATA BINDING -->
  <!-- round-brackets will READ A VALUE from an HTML property attribute-->
  <!-- the value is then sent as an event to an event handler -->
  <button *ngIf="showFlag" (click)="doStuff()">Go</button>
  <input placeholder="enter your name" value="products[2]['name']" />
  <br/>
  <!-- square-brackets will inject a data model value INTO an element attribute property -->
  <img [src]="imgUrl" />
  <section> <!-- we can implement if-else like this -->
    <aside *ngIf="showFlag; else alternative">
      <p>This content is rendered because the flag is {{showFlag}}</p>    
    </aside>
    <ng-template #alternative>Here we have sosmething different because the flag is {{showFlag}}</ng-template>
  </section>  
</article>
<!-- we nest child components inside the main app -->
<footer>
  <app-footer />
</footer>